/* Font Family */

 @font-face {
        font-family: 'poppins';
        src: url(Fonts/Poppins-Regular.ttf);
      } 

.img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;

  }

.wall-labels {
    float: right;
  }

.gradient {
    height: 100%;
    background: linear-gradient(to bottom, #BDD9BF, #2E4052);
 }

/* link */

a {
    color: #556B2F;
  }

  a:active {
    color: #7f71fe;
  }

/* Headings */
h1 {
    max-width: fit-content;
    font-size: 3rem;
    margin: 25px auto;
    margin-bottom: 20px;
    font-family:'poppins';
    color: #2E4052;
  }

h2 {
    max-width: fit-content;
    font-size: 1.08rem;
    margin: 25px auto;
    margin-bottom: 50px;
    font-family:'poppins';
    color: #412234;
  }

/* Text Blocks */
.text-block {
    margin: 10px;
    padding: 10px;
  }
  
 /* Full Section Box */
 .section-box {
    max-width: 80%;
    display: block;
    border-radius: 25px;
    background-color:#FFFFFF;
    border-style: solid;
    border-color: #FFC857;
    border-width: 50px;
    padding: 25px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 0px;
    overflow: auto;
    font-family: 'poppins';
  }

/* image */
 

