

:root{
  --col-01:#e7ac22; /*Yellow Text*/
  --col-02:#23402A; /*(img)Container background*/
  --col-025:#23402a71; /*Recipe name box*/
  --col-03:#8a8f7d; /*Recipe box Text*/
  --col-04:#D9C771; /*Recipe Name / author */
  --col-05:#EFF299; /*Filter Section*/
  --col-06:#e1ebcc; /*Recipe Box text hover*/
  --col-07:#f58555cb; /*Head Title*/
  --border: 1px solid var(--col-02);
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  Padding: 0;
}

.hero{
  background-color: #55514D;
}

@media (max-width: 800px) {
  .hero{
  height: 100vh;
  }
}

@media (max-width: 800px) {
  /* Target the specific SVG element by its ID */
  #Layer_1 {
    /* Add the styles to make it larger on 800-pixel screens */
    transform: scale(1.3); /* For example, increase the size by 20% */
    transform-origin: center;
  }}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1000px 75vh 30vh 150vh 1fr 1fr 1fr ;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 1500px) {
  .container {  display: grid;
    grid-template-rows: 800px 75vh 30vh 300px 1fr 1fr 1fr ;
  }}

@media (max-width: 1200px) {
  .container {  display: grid;
    grid-template-rows: 600px 75vh 30vh 300px 1fr 1fr 1fr ;
  }}

@media (max-width: 1000px) {
  .container {  display: grid;
    grid-template-rows: 500px 75vh 30vh 300px 1fr 1fr 1fr ;
  }}

@media (max-width: 800px) {
  .container {  display: grid;
    grid-template-rows: 350px 50vh 30vh 300px 1fr 1fr 1fr ;
  }}



.Pinwheel {
  grid-area: 1 / 1 / 6 / 6;
  z-index: 1;
}

#FridgePinwheel {
  z-index: 1;
  width: 100%;
  display: flex;
}

/*.FridgeLogo {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

#FridgeLogo {
  grid-area: 1 / 2 / 2 / 5;
  width: 80%;
  height: auto;
  padding-top: 15%;
  padding-bottom: 15%;
}

@media (min-width: 812px) {
  .FridgeLogo {
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }}

@media (min-width: 812px) {
  #FridgeLogo {
    grid-area: 1 / 2 / 2 / 5;
    width: 50%;
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
  }
}*/

  .Fridge {
    grid-area: 2 / 2 / 2 / 5;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 0%;
    z-index: 5;
    background-color: #ffffffa8;
    position: relative;
  }

@media (max-width: 800px) {
  .Fridge {
    grid-area: 2 / 2 / 3 / 5;
    width: 100%;
    height: 500px;
    margin-top: 10%;
  }
}

.RMITFridge {
  grid-area: 3 / 1 / 3 / 3;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

#RMITFridgeImg {
  padding-right: 5%;
  width: 25vw;
}

.HTML-\/-CSS {
  justify-self: end;
  grid-area: 5 / 2 / 6 / 3;
}

.Playful-Agency {
  grid-area: 3 / 3 / 3 / 6;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.Playful-Agency img {
  padding-right: 5%;
  width: 25vw;
}

@media (max-width: 800px) {
    .Playful-Agency {
      grid-area: 3 / 3 / 3 / 6;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 3;
    }
    
    .Playful-Agency img {
      padding-right: 5%;
      width: 25vw;
    }}




.FridgeDescription {
  grid-area: 4 / 1 / 4 / 6; /* Adjust grid-area values as needed */
   width: 50vw;
   height: 30vw;
   margin: 0 auto;
   border-radius: 30px;
   margin-top: 5%;
   background-color: #ffffffa8;
   z-index: 10; /* Increase the z-index value to make it appear on top */
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   padding-left: 100px; /* Adjust the padding value as desired */
   padding-right: 100px; /* Adjust the padding value as desired */
   font-size: 1.8vw;
   line-height: 2;
   text-align: center;
    }

    @media (max-width: 800px) {
      .FridgeDescription {  
        border-radius: 10px;
        margin-top: 30%;
        height: 146px;
        display: grid;
        grid-area: 4 / 1 / 3 / 6;
        width: 500px;
        font-size: 1.5vw;
        height: 160px;
        padding-left: 10px; 
        padding-right: 10px;
        line-height: 23px;
      }

      .FridgeDescription p {
        margin: 2px 0;
        margin-top: 10px;
    }}


  .AeroBackground {
    grid-area: 5 / 1 / 8 / 6;
    z-index: -2;
    margin-top: 10vh;
    height: 290vh;
    overflow: hidden;
  }  

.AeroTitle{
  grid-area: 5 / 1 / 5 / 4;
  display: flex;
  position: relative;
  z-index: 5;
  align-self: start;
}

#AerolithosTitle {
  padding-left: 50px;
  width: 50vw;
  padding-left: 12%;
  margin-top: 95%;
}

.sketchfab-embed-wrapper {
  grid-area: 5 / 1 / 5 / 6;
  margin-top: 75%;
  padding-left: 100px;
  z-index: 10;
}

@media (max-width: 800px) {
  .sketchfab-embed-wrapper {
    grid-area: 5 / 1 / 5 / 6;
    margin-top: 75%;
    padding-left: 100px;
    z-index: 10;
  }}

.AeroDescription {
  grid-area: 6 / 1 / 7 / 3;
  z-index: 7;
  padding-left: 3%;
  margin-top: 5%;
}

#AeroDescriptionImg{
  width: 100%;
}

.AeroAngles {
  grid-area: 6 / 3 / 7 / 5;
  position: relative;
  overflow: hidden;
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
  z-index: 10;
  margin-top: 5%;
  margin-left: 5%;
}

.slideshow-container {
  display: flex;
  transition: transform 1s ease;
  object-fit: contain;
}

.slideshow-content {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity .3s ease;
}

.slideshow-content img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color:#D9C771;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  transition: opacity 0.3s ease; /* Add this line for the hover effect */
}

.arrow:hover {
  opacity: 1; /* Change the opacity value to make it fully opaque on hover */
}
.arrow-prev {
  left: 30px; /* Adjust the left value to position the left arrow */
}

.arrow-next {
  right: 30px; /* Adjust the right value to position the right arrow */
}

.fullscreen-button {
  position: absolute;
  top: 2%;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D9C771;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 10; /* Add this line to bring the button to the front */
}

.fullscreen-button:hover {
  opacity: 1;
}

.AeroAngles.fullscreen .slideshow-content {
  width: 100vw;
  height: 100vh;
}

.AeroAngles.fullscreen .slideshow-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.RMITAero {
  grid-area:  6 / 3 / 7 / 5;
  margin-top: 72%;
}

#RMITAero {
  z-index: 30;
  position: relative;
  width: 75%;
  height: 75%;
}

.MAYA {
  align-self: start;
  grid-area: 11 / 2 / 12 / 3;
  height: 30%;
}

.SOTH {
  justify-self: center;
  grid-area: 7 / 1 / 7 / 3;
  margin-top: 50px;
  padding-left: 100px;
}

.SOTHTitle {
  align-self: end;
  grid-area: 13 / 3 / 14 / 4;
  height: 10%;
}

.Illustrator {
  justify-self: center;
  align-self: center;
  grid-area: 13 / 4 / 14 / 6;
  width: 50%;
  height: 50%;
}

.FLOX {
  justify-self: center;
  align-self: stretch;
  grid-area: 7 / 3 / 7 / 6;
  width: 75%;
}

.FLOXTitle {
  align-self: end;
  grid-area: 16 / 3 / 17 / 4;
  height: 10%;
}

.Redheads {
  justify-self: center;
  grid-area: 18 / 1 / 19 / 6;
  width: 90%;
}

.Icons {
  justify-self: center;
  grid-area: 20 / 1 / 21 / 6;
  width: 90%;
}

.GrowthVid {
  justify-self: center;
  grid-area: 22 / 3 / 23 / 6;
  width: 80%;
}

.GrowthDescrip { grid-area: 22 / 1 / 23 / 2; }

.RMITGrowth {
  justify-self: center;
  grid-area: 23 / 4 / 24 / 6;
  width: 70%;
}

.Unity {
  grid-area: 24 / 5 / 25 / 6;
  width: 70%;
}

.Download { grid-area: 24 / 3 / 25 / 4; }

.ComingSoon { grid-area: 27 / 2 / 28 / 5; }

.SEQ-RURAL {
  justify-self: start;
  grid-area: 29 / 2 / 30 / 4;
  width: 75%;
}

.NewsScraper {
  justify-self: end;
  grid-area: 29 / 3 / 30 / 5;
  width: 75%;
}


#SVG {
  width: 100%;
  height: 100%;
}

.glow {
  filter: brightness(120%); /* Adjust the glow effect as desired */
}